img {
    width:75%;
    height: auto;
}
body {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #606060;
}
p{
    color: gray;
}

.top-section{
    position: relative;
    top: 50%;
    padding: 35px;
    font-size: 24px;
}
.gray-box {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    background-color: whitesmoke;   
    padding: 15px;     
}
.center {
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
/* For mobile phones: */
.column-container {
    display: flex;
    flex-wrap: wrap;       
}
.column-container>*{
    flex-basis: 100%;    
}

/*For Tablets: */
@media only screen and (min-width: 800px) {
    .column-container>*{
        flex-basis: 50%;        
    }
}

/* For desktop:*/
@media only screen and (min-width: 1280px) { 
    .column-container>*{
        flex-basis: 25%;
    }    
}



    
  



